html,
body {
  background-color: var(--background);
  background-image: url('/LUN-A.jpg');
  background-size: 25% 45%;
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}