html,
body {
  background-color: var(--background);
  background-image: url('/LUN-A.jpg');
  background-size: 35% auto;
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
body {
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

@media (min-width: 769px) {
  html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }
}